VLC 3.0.2 not work

in VLC 3.0.2 not work. 

Hello Durlyn,

Thanks for the feedback. I test the 3.0.2 version and it works fine.

![screen shot 2018-05-14 at 8 32 31 am](https://user-images.githubusercontent.com/981273/40000444-671ab626-5751-11e8-8339-1fbda5c40fec.png)

Be careful if you install the 64 bits version you must to copy the lua scripts on the C:\Program files\VideoLAN without the x86 part.

Please test again and reply me.


I update Tunein-Radio-VLC to 0.7 verstion and all work fine. Thanks.

@diegofn Excuse me. How to open the left panel like yours?
I keep seeing guidance that click bla bla on `Internet` section but my player does not show that.

Randomly, I need to restart it until TuneIn's folders (favorites, etc.) are displayed. Here the debug output:

```txt
lua debug: ArtURL: https://raw.githubusercontent.com/diegofn/TuneIn-Radio-VLC/master/resources/presets.png
main debug: adding: Favorites
lua: URL: https://opml.radiotime.com/Browse.ashx?c=presets&formats=aac,html,mp3,wma,wmpro,wmvideo,wmvoice&partnerId=xxx&username=xxx&password=xxx
main debug: creating access: https://opml.radiotime.com/Browse.ashx?c=presets&formats=aac,html,mp3,wma,wmpro,wmvideo,wmvoice&partnerId=xxx&username=xxx&password=xxx
main debug: Creating an input for preparsing 'Favorites'
main debug: looking for access module matching "https": 28 candidates
main debug: looking for tls client module matching "any": 1 candidates
gnutls debug: using GnuTLS version 3.6.4
dbus debug: Getting All properties
dbus debug: Getting All properties
main debug: looking for meta fetcher module matching "any": 1 candidates
lua debug: Trying Lua scripts in /home/david/.local/share/vlc/lua/meta/fetcher
lua debug: Trying Lua scripts in /usr/lib/x86_64-linux-gnu/vlc/lua/meta/fetcher
lua debug: Trying Lua scripts in /usr/share/vlc/lua/meta/fetcher
main debug: no meta fetcher modules matched
main debug: creating access: https://raw.githubusercontent.com/diegofn/TuneIn-Radio-VLC/master/resources/presets.png
main debug: looking for access module matching "https": 28 candidates
main debug: looking for tls client module matching "any": 1 candidates
gnutls debug: using GnuTLS version 3.6.4
dbus debug: Getting property Position
gnutls debug: loaded 133 trusted CAs from system
main debug: using tls client module "gnutls"
main debug: resolving opml.radiotime.com ...
gnutls debug: loaded 133 trusted CAs from system
main debug: using tls client module "gnutls"
gnutls debug: TLS handshake: Resource temporarily unavailable, try again.
main debug: resolving raw.githubusercontent.com ...
gnutls debug: TLS handshake: Success.
gnutls debug:  - safe renegotiation (RFC5746) enabled
gnutls debug:  - extended master secret (RFC7627) enabled
gnutls debug:  - false start (RFC7918) enabled
http debug: out SETTINGS (0x04) frame of 30 bytes, flags 0x00, global
http debug: out HEADERS (0x01) frame of 486 bytes, flags 0x05, stream 1
http debug: in SETTINGS (0x04) frame of 18 bytes, flags 0x00, global
http debug: setting: Concurrent streams (0x0003): 256
http debug: setting: Initial window size (0x0004): 65536
http debug: setting: Frame size (0x0005): 16777215
http debug: out SETTINGS (0x04) frame of 0 bytes, flags 0x01, global
http error: peer stream 1 error: Cancellation (0x8)
http debug: local stream 1 shut down
http debug: out RST_STREAM (0x03) frame of 4 bytes, flags 0x00, stream 1
http debug: local shutdown
http debug: out GOAWAY (0x07) frame of 8 bytes, flags 0x00, global
access error: HTTP connection failure
main debug: no access modules matched
main error: no suitable access module for `https://opml.radiotime.com/Browse.ashx?c=presets&formats=aac,html,mp3,wma,wmpro,wmvideo,wmvoice&partnerId=xxx&username=xxx&password=xxx'
lua error: Error while running script /home/david/.local/share/vlc/lua/sd/tunein.lua, function main(): /home/david/.local/share/vlc/lua/sd/tunein.lua:155: attempt to index local 'tree' (a nil value)
gnutls debug: TLS handshake: Resource temporarily unavailable, try again.
gnutls debug: TLS handshake: Success.
gnutls debug:  - safe renegotiation (RFC5746) enabled
gnutls debug:  - extended master secret (RFC7627) enabled
gnutls debug:  - false start (RFC7918) enabled
http debug: outgoing request:
GET /diegofn/TuneIn-Radio-VLC/master/resources/presets.png HTTP/1.1
Host: raw.githubusercontent.com
Accept: */*
Accept-Language: fr
User-Agent: VLC/3.0.4 LibVLC/3.0.4
Range: bytes=0-


http debug: incoming response:
HTTP/1.1 206 Partial Content
Content-Security-Policy: default-src 'none'; style-src 'unsafe-inline'; sandbox
Strict-Transport-Security: max-age=31536000
X-Content-Type-Options: nosniff
X-Frame-Options: deny
X-XSS-Protection: 1; mode=block
ETag: "ac8452702b6cb0883471cc4586b459d99d236bbb"
Content-Type: image/png
Cache-Control: max-age=300
X-Geo-Block-List:
X-GitHub-Request-Id: F006:2EF4:977952:A94C40:5C900100
Accept-Ranges: bytes
Content-Range: bytes 0-10227/10228
Content-Length: 10228
Accept-Ranges: bytes
Date: Mon, 18 Mar 2019 20:35:33 GMT
Via: 1.1 varnish
Connection: keep-alive
X-Served-By: cache-cdg20764-CDG
X-Cache: MISS
X-Cache-Hits: 0
X-Timer: S1552941333.927970,VS0,VE101
Vary: Authorization,Accept-Encoding
Access-Control-Allow-Origin: *
X-Fastly-Request-ID: 43cd34a739a8fb597ae864c52611eec5ac63ae24
Expires: Mon, 18 Mar 2019 20:40:33 GMT
Source-Age: 0


main debug: using access module "access"
main debug: looking for stream_filter module matching "prefetch,cache_block": 26 candidates
prefetch debug: using 10228 bytes buffer, 10228 bytes read
main debug: using stream_filter module "prefetch"
main debug: looking for stream_filter module matching "any": 26 candidates
prefetch debug: end of stream
lua debug: Trying Lua scripts in /home/david/.local/share/vlc/lua/playlist
lua debug: Trying Lua playlist script /home/david/.local/share/vlc/lua/playlist/radiotime.lua
lua debug: Trying Lua playlist script /home/david/.local/share/vlc/lua/playlist/streamtheworld.lua
lua warning: error loading script /home/david/.local/share/vlc/lua/playlist/streamtheworld.lua: ...e/david/.local/share/vlc/lua/playlist/streamtheworld.lua:36: invalid escape sequence near '\='
lua debug: Trying Lua scripts in /usr/lib/x86_64-linux-gnu/vlc/lua/playlist
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/anevia_streams.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/anevia_xml.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/appletrailers.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/bbc_co_uk.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/cue.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/dailymotion.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/jamendo.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/koreus.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/liveleak.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/newgrounds.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/rockbox_fm_presets.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/soundcloud.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/twitch.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/vimeo.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/vocaroo.luac
lua debug: Trying Lua playlist script /usr/lib/x86_64-linux-gnu/vlc/lua/playlist/youtube.luac
lua debug: Trying Lua scripts in /usr/share/vlc/lua/playlist
main debug: no stream_filter modules matched
main debug: removing module "prefetch"
main debug: removing module "access"
```

I notice that you does not copy radiotime.lua to playlist folder. Please copy the file and try again.

I now using KUbuntu 20.10 and all working good... thx